* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: MM;
    src: url('./assets/font/Montserrat-Medium.ttf');
}

@font-face {
    font-family: MB;
    src: url('./assets/font/Montserrat-Bold.ttf');
}

body{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
}

:root{
    --purple-color: #6966FF;
    --text-color: #161617;
    --description-color: #DDDDDD;
    --checkbox-color: #FFC966;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-container{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(2, 1fr);
    height: auto;    
    gap: 10px;
    margin: 10px 0px;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MM;
    color: white;
    font-size: 1.5rem;
}
.logo img{
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}
.logo h1{
    position: absolute;
    z-index: 1;
    font-size: 2rem;
}
.header-container-block-1{
    background-color: white;
    font-family: MM;
    color: var(--description-color);
    align-items: center;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
    height: 200px;
    border-radius: 25px;
    grid-column: 2/4;
}
.header-container-block-2{
    background-color: white;
    font-family: MM;
    color: var(--description-color);
    align-items: center;
    display: flex;
    justify-content: center;
    grid-column: 1/4;    
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
    height: 200px;
    border-radius: 25px;
}

.tasks-container{
    margin: 10px 0px;
    background-color: var(--text-color);
    padding: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.task-card{
    min-width: 300px;
    margin: 10px 0px;
    height: auto;
    background-color: white;
    font-family: MM;
    color: var(--text-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 15px;
}

.task-card p{
    color: var(--description-color);
    border-left: 4px solid var(--purple-color);
    min-height: 60px;
    padding: 10px;
}

.submit-btn{
    width: 700px;
    height: 50px;
    background-image: url('./assets/images/primary-color-noise.png');
    background-position: center;
    background-size: 200%;
    border: 0px;
    font-size: 1rem;
    font-family: MM;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
}
.submit-btn:hover{
    transition: 0.2s;
    opacity: 0.8;
}

.main-container{
    margin: 25px 0px;
    width: auto;
}

.search-box{
    background-color: #EFEFEF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-container {
    background-color: var(--text-color);
    padding: 50px;
    border-radius: 600px;
    color: #EFEFEF;
}

.navigation-container ul{
    display: inline-flex;
    text-align: center;
    width: 100%;
}
.navigation-container li{
    flex-grow: 1;
    list-style-type: none;
    font-family: MM;
}

.theme-switcher{
    width: 70px;
    height: 25px;
    background-color: var(--text-color);
    border-radius: 600px;
}